# Install
numpy>=1.4.0
matplotlib>=1.5.0
future

# Optional
shapely>=1.2.10

# Testing
coverage
testfixtures

# Development
sphinx>=1.6
sphinxcontrib-fulltoc
pycodestyle
pydocstyle
pylint
ipython
ipdb
